 @media screen and (max-width:770px) {
    .logo-container{
        min-width: 30%;
    }
    .nav-items-container{
        min-width: 70%;
   
    }
    .nav-items-container a{
        margin-top: 20px;
    }
    
}

@media screen and (max-width: 426px) {
    .nav-container{
     flex-direction: column;
    }
    .nav-items-container{
        width: 100%;
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
    }
    .card-container{
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
    }

    .play-games-container{
        flex-direction: column-reverse;
    }
    .play-games-title h2{
        font-size: 20px;

        
        }
    .play-games-content{
        width: 100%;
        margin: 0 auto;
    }
    .play-games-img {
        min-width: 100%;
        
    }
    
  
    
}
 
